.array-vis,
.hash-vis {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    position: relative;
}

.box {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    float:left;
    opacity: 1;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-content {
    padding: 2px;
    word-wrap: break-word;
    min-width: 0;
}

.box-empty {
    background: #f8f8f8;
    z-index: -1;
}

.box-full {
    background: #ededed;
}

.box-animated {
    /* transition-property: left,top,opacity,transform; */
    transition-property: opacity,transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.active-box-selection {
    border: solid 1px red;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0);
    width: 40px;
    height: 40px;
    z-index: 100;
    position: absolute;
}

.active-box-selection-animated {
    transition-property: opacity,transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.box.box-just-added,
.box.box-removed {
    opacity: 0;
}

.highlight {
    background-color: #fcf8e3;
}

pre > code,
span.code-explanation {
    font-size: 13px !important;
}

div.code-block {
    line-height: 1.2;
    margin-bottom: 15px;
}

pre.code-line-container {
    margin: 0px;
    display: inline;
}

.code-highlight {
    background-color: #C2DFFF;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity .35s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity .35s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}

.fc-inline {
  display: inline-block !important;
  width: 120px !important;
  line-height: 1.0 !important;
  margin-left: 5px;
  margin-right: 5px;
}

div.visualized-code {
    margin-bottom: 35px;
    padding-left: 15px;
    border-left: solid 3px #999999;
}

div.slider-row {
    margin-bottom: 15px;
}

.slider.slider-horizontal {
    width: 100% !important;
}

.slider .slider-selection {
    background-image: linear-gradient(to bottom,#e9e9e9 0,#e5e5e5 100%);
}

/* .slider.slider-horizontal * {
    transition-property: *;
    transition-duration: .5s;
    transition-timing-function: ease;
}*/

.tetris-row-label {
    margin-bottom: 5px;
}
