.TKArrayVis,
.TKHashVis {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
}

.box {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: solid 1px white;
    border-radius: 4px;
    font-size: 12px;
    float:left;
    text-align: center;
    opacity: 1;
}

.box-empty {
    background: #f8f8f8;
}

.box-full {
    background: #ededed;
}

.box-animated {
    transition-property: left,top,opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.box-active {
    border: solid 1px red;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.box.box-just-added,
.box.box-removed {
    opacity: 0;
}
