/* TODO: integrate with webpack? e.g. google-fonts-webpack-plugin */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:400,400italic,700|Roboto+Mono:400,700);

/* FROM: https://stackoverflow.com/questions/12502234/how-to-prevent-webkit-text-rendering-change-during-css-transition */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
      -webkit-font-smoothing: subpixel-antialiased;
    }
}

.app-container {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

/* .chapter > p, .chapter > h2, .chapter > h3, .chapter > h4, .chapter > h5, .chapter > h6 {
    max-width: 700px;
}*/

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-display: optional; /* TODO: this is to avoid FOIC, test performance later */
}

code, .parsable-input, .invalid-feedback.invalid-feedback-block-parsable-input {
  font-family: "Roboto Mono", monospace;
  font-display: optional;
}

p,a,li,blockquote {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-display: optional;
  font-weight: 400;
}

.parsable-input {
  font-size: 14px;
}

.invalid-feedback.invalid-feedback-block-parsable-input {
  padding-left: 13px;
  font-size: 14px;
  white-space: pre;
  margin-top: 0px;
  background-color: rgba(220,53,69,.25); /* from box-shadow color of input in bootstrap  */
}

.parsable-input-with-error {
    background-color: #fff;
}

.array-vis,
.hash-vis {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    position: relative;
}

.box {
    display: flex;
    font-family: "Roboto Mono", monospace;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 12px;
    float:left;
    opacity: 1;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-content {
    padding: 2px;
    word-wrap: break-word;
    min-width: 0;
}

.box-empty {
    background: #f8f8f8;
    z-index: -1;
}

.box-full {
    background: #ededed;
}

.box-animated {
    /* transition-property: left,top,opacity,transform; */
    transition-property: opacity,transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.active-box-selection {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0);
    width: 40px;
    height: 40px;
    z-index: 1;
    position: absolute;
}

.active-box-selection-1 {
    border: solid 1px red;
}

.active-box-selection-2 {
    border: solid 1px blue;
}

.active-box-selection-animated {
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.box.box-just-added,
.box.box-removed {
    opacity: 0;
}

.highlight {
    background-color: #fcf8e3;
}

pre > code,
.code-explanation {
    font-size: 12px !important;
}

.code-block {
    line-height: 1.15;
    margin-bottom: 15px;
}

/* TODO: apply only when there is a scrollbar ? */
.code-block-with-annotations-ps-container {
    box-shadow: 0px 0px 2px 2px rgba(171, 226, 251, 0.5);
}

.visualized-code > .code-block-row {
    margin-bottom: 20px;
}

.code-block-with-annotations {
    line-height: 1.15;
    padding: 10px;
    white-space: nowrap;
}

pre.code-line-container {
    margin: 0px;
    display: inline;
}

.code-highlight {
    background-color: #C2DFFF;
}

.cross-fade-leave {
  opacity: 1;
}

.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity .35s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity .35s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}

.fc-inline {
  display: inline-block !important;
  width: 120px !important;
  line-height: 1.0 !important;
  margin-left: 5px;
  margin-right: 5px;
}

div.visualized-code {
    margin-bottom: 35px;
    padding-left: 15px;
    border-left: solid 3px #999999;
}

div.slider-row {
    margin-bottom: 25px;
}

.tetris-row-label {
    margin-bottom: 5px;
}

.tetris-row {
    display: flex;
}

.tetris-row-label-div {
    width: 200px;
}
