<!doctype html>
<html lang="en">
  <head>
    <title>Inside python dict &mdash; an explorable explanation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i,700,700i" rel="stylesheet">
  </head>
  <body>
      <div id="root"></div>
      <script type="text/javascript">window.insidePythonDictChapters={{{chapters}}}</script>
  </body>
</html>
